
body {

	font-family: Arial, sans-serif; 
	background: url("Images/accueil.png");
	background-repeat: repeat;
	background-position: cover;
	background-attachment: fixed;
	margin: 0;
}

/*-----Code CSS concernant la colonne de gauche-----*/

header {

	float: left;
	width: 20%;
	height: 3250px;
	color: white;
	background-color: rgb(0, 130, 200);
	background: linear-gradient(to bottom, rgb(48, 64, 123), rgb(51, 198, 255));
	box-shadow: 5px 5px 15px black;

}

/*---Lien pour changer de langues----*/

#choixLangues  {

	float: right;
	font-size: 1.5em;
	margin-top: 2%;
	width: 10%;
}

#choixLangues a {

	color: black;
	text-decoration: none;
	background-color: rgb(0, 180, 255);
	padding: 2%;
	margin-left: 5%;
	box-shadow: 5px 5px 10px black;

}

#choixLangues a:hover {

	padding: 3%;
}

/*---Code concernant le slider----*/

#sliderReseauxHoverHeader {

	display: none;
}

#sliderReseaux {

	position: absolute;
	width: 20%;
	margin-top: -1%;
}

#sliderReseaux ul {

	list-style-type: none;
	display: block;
}

#sliderReseaux ul li {

	display: inline;
	align-content: center;
	padding: 3%;
}

#sliderReseaux img {

	width: 15%;
	margin-left: 0%;
}

#sliderReseaux a {

	text-decoration: none;
	border: 0;

}

/*-----Ajustement de la photo----*/

#florianHoverHeader {

	display: none;
}

#florian {

	width: 100%;
}

#florian img{

	width: 100%;
}

/*----Mise en forme et placement des logo(gsm, enveloppe, maison,...)----*/

.logo img{

	float: none;
	display: block;
	margin: 0 auto;
	margin-bottom: 5%;
	margin-top: 5%;
	width: 15%;
}

/*----Séparation des différentes infos par une bordure----*/

.info {

	margin-bottom: 15%;
	border-bottom: 1px solid rgb(48, 64, 123);
	
}

/*-----Mise en page de mes informations------*/

.info p {

	text-align: center;
	font-size: 1.2em;
	line-height: 1em;
	font-family: Helvetica;
}

/*----Ajustement de l'adresse pour être en face de l'icone-----*/

.numero {

	margin-bottom: 15%;
}

/*----je retire le padding pour bien centrer l'adresse------*/

#texteAdresse p {

	padding: 0;
	line-height: 1.4em;
	margin-bottom: 15%;

}

/*----Je retire la bordure de mes adresses---*/

#mail h4 {

	margin: 0;
	margin-bottom: 1%;
	font-size: 1.1em
}

/*----J'aligne mon texte-----*/

#mail {

	text-align: center;
}

/*----Mise en forme du lien pour envoyer un mail----*/

#mail a {

	text-decoration: none;
	color: white;
}

/*----Mise en forme des notes sous les adresses mails-------*/

#mail p {

	margin: 0;
	margin-bottom: 10%;
	font-size: 0.8em;
}

/*----Ajout d'une bordure en dessous de mes adresses mails----*/

#bordureMail {

	border-bottom: 1px solid rgb(0, 46, 200);
}

#competences {

	margin-top: 10%;
}

#competences h3 {

	text-align: center;
	font-size: 1.5em;
	line-height: 1.5em;
	padding-top: 2%;
	padding-right: 2%;

}

/*----Ajout de mes images pour mes compétences-----*/

#iconesCompWeb img{

	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 25%;
	width: 50%;
}

#iconesCompProg img{

  width: 21%;
  margin-top: 5%;
  margin-left: 10%;

}

#iconesCompBD img {

	width: 50%;
	margin-top: 10%;
	margin-left: 25%;
}

#iconesCompMobileUnity img{

	width: 25%;
	margin-top: 10%;
	margin-left: 15%;
}


/*!!!!!!!Première section (NOM, PRÉNOM, FORMATION, CV)!!!!!!!*/

#section1HoverHeader {

	display: none;
}

#section1 {

	width: 80%;
	margin-bottom: 5%;
}

/*------Placement du bloc contenant mon Nom Prénom + Etudes------*/

#nomPrenom {

	display: inline-block;
	margin-left: 6.5%;
	margin-top: 5%;
	opacity: 0;
}

/*-----Mise en forme du nom et du prénom----*/

h1 {

	color: white;
	font-size: 4em;
	text-align: left;
	margin:0;
}

/*----Mise en forme du nom de mes études-----*/

h5 {

	margin: 0;
	font-size: 1.2em;
	line-height: 2em;
	color: #202123;
	text-align: left;
}

#cvBoutonHoverHeader {

	display: none;
}

#cvBouton { 

	display: inline-block;
	position: absolute;
	margin-top: -10%;
	margin-left: 40%;
	width: 20%;
	transition: 1s;

 }

/*---Placement du bouton de téléchargement de CV----*/

#cvBouton a{

	font-weight: bold;
	padding: 5%;
	border-radius:20%;
	color: black;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	margin-bottom: 20%;
	background: rgb(255, 213, 0); 
	transition: 1s;

}

/*----Petite animation lors du survol-----*/

#cvBouton a:hover {

	background:rgb(132, 243, 255);
	padding: 10%;
	transition: 1s;
}


/*!!!!!!!Seconde section (TEXTE DE PRESENTATION)!!!!!!/*

/*-----Je place l'icone de présentation au centre--------*/

#sectionPresentation img {

	width: 4%;
	margin-top: 3%;
}

/*-----Mise en forme du texte de présentation------*/

#textePresentation p{ 

	text-align: center;
	margin-top: 0;
	margin-right: 20%;
	line-height: 1.5em;
	font-size: 1.2em;

}


/*!!!!!!!Troisième section (MON PARCOURS SCOLAIRE)!!!!!!!*/

/*-----Chaque "Etudes" est séparé par une bordure---*/

.etudesExp {

	margin-top: 5%;
	margin-left: 0%;
	border-bottom: solid 2px  rgb(0, 100, 200);
}

.etudesExp h4 {

	margin: 0;
}


.etudesExp h3 {

	margin-bottom: 1%;
}

.etudesExp a {

	text-decoration: none;
	position: relative;
	color: rgb(0, 100, 200);
	transition: 0.5s;
}

/*----Transition au survol (Pour le soulignement progressif : http://www.cssportal.com/blog/css-animated-underline-links/)-----*/

.etudesExp a:hover {

	font-size: 1.4em;
	transition: 0.5s;
}

.etudesExp  a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  background: rgb(0, 100, 200);;
  visibility: hidden;
  transform: scaleX(0);
  transition: 0.5s;
}

.etudesExp  a:hover:before{
  visibility: visible;
  transform: scaleX(1);
}

/*-----Date de mes études ou expériences pro----*/

.etudesExp span {

	font-size: 0.7em;
	line-height: 5em;
	color: rgb(0, 100, 200);
}



/*----Je ne met pas de bordure pour la dernière "Etude"----*/

#cess {

	border-bottom: 0;
	padding-bottom: 0.5em;
}


/*!!!!!!!!troisième section(Mes expériences pro)!!!!!!!!!*/

/*------Même style que mes études (Voir plus haut, même classe)-----*/

.imagesPro {

	width: 10%;
	float: right;
	margin-right: 55%;
}

#imageCoraResponsive {

	display: none;
}

/*-----Avec une seule expérience pro, je retire la bordure inférieure, lorsque j'aurais plusieurs expériences
		cela s'affichera comme pour mes études-----*/

#cora {

	border: 0;
}

/*!!!!!!!Quatrième section (MES CONNAISSANCES LINGUISTIQUES)!!!!!!!*/

/*-----Positionnement de ma section-----*/

#langues h3, #langues p {

	display: inline-block;
	margin-left: 1.5%;
	margin-bottom: 3%;
	font-size: 1.2em;
}

/*----Ajustement des drapeaux-----*/

#langues img {

	float: left;
	margin-top: 0.4%;
}

/*!!!!!!!Cinquième section (MES PROJETS)!!!!!!!*/

/*-----Utilisation de FlexBox pour la présentation de mes projets-----*/

#projets {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: -15%;
}


/*-----Placements de mes projets dans le bloc-----*/

.elementsProjet {

	display: table;
	width: 28%;
	border: solid 2px black;
	margin: 0 0 2vw 0; /*Avec le VW, Firefox prend bien en compte les margin verticales, si je laisse tout en %, il y a certains bug*/
	background-color: rgb(51, 156, 255);
	line-height: 1.4em;
	height: 100px;
	padding: 0;
	transition: 2s;
}

.elementsProjet h2, p {

	text-align: center;
}

.elementsProjet p {

	color: rgb(216, 189, 61);
	font-size: 1.3em;
}


/*------Transition CSS au survol-----*/

.elementsProjet:hover {

	background-color: rgb(0, 100, 200);
	padding: 0% 5% 2% 5%;
	height: 250px;
	transition: 1s;
}

/*---N'ayant encore rien dans mon "TFE", il ne bougera pas au survol-----*/

#TFE:hover {

	display: table;
	width: 28%;
	border: solid 2px black;
	margin: 0 0 2vw 0; /*Avec le VW, Firefox prend bien en compte les margin verticales, si je laisse tout en %, il y a certains bug*/
	background-color: rgb(51, 156, 255);
	line-height: 1.4em;
	height: 100px;
	padding: 0;
	transition: 2s;
}

/*-----Ajout d'une description de mes projets lors du survol------*/

.descriptionProjet {

	display: table;
}

.descriptionProjet img {

	width: 40%;
	float: left;
}

.descriptionProjet p {

	text-align: left;
	color: black;
	margin-left: 50%;
	font-size: 1em;
}

.liensProjets img {

	width: 10%;
	margin-right: 5%;
	margin-left: 5%;
	float: left;

}

.lienProjets a {

	float: left;
	text-align: none;
	margin-left: 0;
}

/*!!!!!!!!!!Code commun relatif aux sections!!!!!!!!!!!*/

.titreSections {

	padding-top: 5%;
	margin-bottom: 3%;	
	font-size: 2em;

}

.imageSections {

	width: 6%;
	margin-top: 2em;
	margin-left: 4em;
	float: left;
}

.contenuSections {

	margin-left: 15%;
}

.section {

	background-color: rgb(200, 200, 200);
	margin-top: 3%;
	margin-left: 25%;
	margin-right: 5%;
	padding-bottom: 1%;
	box-shadow: 5px 5px 50px black;
	opacity: 0;
}


/*!!!!!!MEDIA QUERIES!!!!!!!!!!*/


@media screen and (max-width: 1366px) {


	header {

		height: 2500px;
	}

/*-----Ajustement de la marge supérieure pour abaisser un peu l'icone de téléphone fixe-----*/

	#telFixe {

		margin-top: 10%;
	}	

/*-----Placement de mes icones au dessus des informations et "centrages des infos"(Sinon les adresses mails dépassent du header en dessous de 1366px)------*/


	#cvBouton {

		margin-left: 50%;
		transition: 1s;
	}

/*-----Je met 2 projets par ligne------*/

	.elementsProjet {

		width: 40%;
	}
}


/*-----Changement du design pour un meilleur accès sur mobile-----*/
@media screen and (max-width: 1024px) {

	body {

		margin: 2%;
	}

	header {

		float: none;
		margin-top: 10%;
		width: 100%;
		height: auto;
	}


	#florian {

		display: none;
	}

	/*---Placements des éléments nécessaires au dessus du header------*/

	#florianHoverHeader {

		display: block;
		width: 20%;
		margin: 0 auto;
		margin-top: 5%;
	}

	#florianHoverHeader img {

		width: 100%;
		border-radius: 50%;
		margin-bottom: 10%;
	}

	/*----Liens vers mes réseaux sociaux---*/

	#sliderReseauxHoverHeader {

	display: block;
	}

	#sliderReseauxHoverHeader ul {

	text-align: center;
	list-style-type: none;
	padding: 0;

	}

	#sliderReseauxHoverHeader ul li {

	display: inline;
	padding: 3%;
	}

	#sliderReseauxHoverHeader img {

	width: 5%;
	margin-left: 0%;
	}

	#sliderReseauxHoverHeader a {

	text-decoration: none;
	border: 0;
	}

	/*----Début de mon header-----*/

	#telFixe {

		padding-top: 4%;
	}

	/*-----Section 1 avec Nom, Prénom...----*/

	#section1 {

		display: none;
	}

	#section1HoverHeader {

		display: block;
		margin-bottom: 8%;
	}

	#nomPrenomHoverHeader *{

		text-align: center;
	}

	#nomPrenomHoverHeader h1 {

		font-size: 3em;
	}

	/*----Positionnement de mon bouton------*/

	#cvBouton { 

		display: none;
	 }

	#cvBoutonHoverHeader { 

		display: block;
		text-align: center;
	}

	#cvBoutonHoverHeader a{

	font-weight: bold;
	padding: 2%;
	border-radius:20%;
	color: black;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	background: rgb(255, 213, 0); 

	}

	/*----Placement du choix de la langue centré en dessous du bouton----*/

	#choixLangues {

		float: none;
		margin: 0 auto;
		width: 15%;
		margin-top: 5%;
		text-align: center;

	}


	/*----Section de présentation-----*/

	#iconePresentation img {

		display: block;
		width: 5%;
		margin: 0 auto;
		margin-bottom: 4%;
		padding-top: 5%;
	}

	#textePresentation p {

		margin: 0 5% 5% 5%;
		font-size: 1.2em;
	}

	/*----Sections----*/

	.info {

		margin-bottom: 3%;
	}

	.info p {

		padding: 0;
	}

	/*----Numéro de téléphone-----*/

	.numero {

		margin-bottom: 5%;
	}

	/*---ajustement des images d'informations-----*/

	.logo img {

		width: 5%;
		margin-bottom: 2%;
	}

	/*----Ajustement des adresses----*/

	#texteAdresse p {

		margin-bottom: 5%;
		text-align: center;
	}

	#mail p {

		margin-bottom: 5%;
		text-align: center;
	}

	#bordureMail {

		margin-bottom: 3%;
	}

	/*-----Competences------*/

	#competences {

		margin-top: 5%;
	}

	#competences h3 {

		padding: 0;
		margin-bottom: 5%;
		font-size: 2em;
	}

	#iconesCompWeb {

		width: 30%;
		margin: 0 auto;
	}

	#iconesCompProg {

		width: 30%;
		margin: 0 auto;
	}

	#iconesCompBD {

		width: 30%;
		margin: 0 auto;	
	}

	#iconesCompMobileUnity {

		width: 30%;
		margin: 0 auto;
		padding-bottom: 5%;

	}

	/*----Section-----*/

	.section {

		width: 100%;
		margin: 0;
		margin-top: 5%;
		opacity: 1;

	}

	.imageSections {

		display: block;
		float: none;
		margin: 0 auto;
		padding-top: 2%;

	}

	.contenuSections {

		margin: 0;
	}

	.titreSections {

		padding: 0;
		text-align: center;
	}

	/*-----Expériences professionnelles-----*/

	.etudesExp {

		text-align: center;
	}

	.imagesPro {

		display: none;
	}

	#imageCoraResponsive {

		display: block;
		margin: 0 auto;
		margin-top: 2%;
		width: 10%;
		
	}

	/*-----Positionnement du contenu e ma section "Langues"------*/

	#langues {

		text-align: center;
	}

	#langues img {

		display: block;
		float: none;
		margin: 0 auto;
	}

	#langues h3 {

		display: none;
	}

	#langues p {

		font-size: 1.3em;
		font-weight: bold;

	}


	/*-----Projets----*/

	#sectionProjet {

		margin-bottom: 5%;
	}

	#projets {

		display: flex;
		margin-left: 0;
	}
}



/*-----Zoom sur certains éléments à partir de 650px------*/
@media screen and (max-width: 650px) {

	#florianHoverHeader {

		width: 40%;
		border-radius: 50%;
		margin-bottom: 5%;
	}

	#nomPrenomHoverHeader h1 {

		font-size: 2.5em;
		margin-bottom: 5%;
	}

	#sliderReseauxHoverHeader img {

		width: 10%;
	}

	#cvBoutonHoverHeader {

		margin-bottom: 20%;
	}

	#cvBoutonHoverHeader a {

		padding: 5%;
	}

	#iconePresentation img{

		width: 15%;
	}

	#textePresentation p {

		line-height: 1.5em;
		font-size: 1em;
		margin-bottom: 10%;
	}

	.logo img {

		width: 10%;
		margin-top: 5%;
		margin-bottom: 5%;
	}

	#iconesCompWeb {

		width: 50%;
	}

	#iconesCompProg {

		width: 70%;
	}

	#iconesCompBD {

		width: 50%;
	}

	#iconesCompMobileUnity {

		width: 50%;
		padding-bottom: 10%;
	}

	.imageSections {

		width: 10%;
	}

	.titreSections {

		margin-top: 5%;
		font-size: 1.5em;
	}

	.etudesExp h3{

		font-size: 1em;
		margin-top: 10%;
		margin-bottom: 5%;
	}

	.etudesExp span {

		margin
	}

	#imageCoraResponsive {

		width: 20%;
		margin-top: 5%;
	}

	#langues img {

		width: 10%;
	}

	#langues p {

		font-size: 1em;
		font-weight: bold;
	}

	.elementsProjet {

		width: 90%;
		margin: 0 0 4vw 0;
	}

	.elementsProjet:hover{

		padding: 0;
		padding-bottom: 5%;
	}

	.elementsProjet h2{

		font-size: 1.2em;
	}

	.elementsProjet p {

		font-size: 1em;
	}

	.descriptionProjet img {

		margin-left: 5%;
	}

	.section {

		opacity: 1;
	}
}



