
body {

	font-family: Arial, sans-serif; 
	background-color: rgb(39, 39, 39);
	margin: 0;
	background: url("Images/Accueil.JPG") no-repeat fixed center;
}


/*-----Code CSS concernant la colonne de gauche-----*/

header {

	float: left;
	width: 20%;
	height: 150em;
	color: white;
	background: linear-gradient(to bottom, rgb(0, 88, 255), rgb(51, 204, 255));
	box-shadow: 5px 5px 20px black;

}


/*---Code concernant le slider----*/

#sliderReseaux {

	position: absolute;
	width: 20%;
	margin-top: -1%;
}

#sliderReseaux ul {

	list-style-type: none;
	display: none;
}

#sliderReseaux ul li {

	display: inline;
	align-content: center;
	padding: 3%;
}

#sliderReseaux img {

	width: 15%;
	margin-left: 0%;
}

#sliderReseaux a {

	text-decoration: none;
	border: 0;

}

/*-----Ajustement de la photo----*/


#florian {

	width: 100%;
}

/*-----Je place l'icone de présentation au centre--------*/

#iconePresentation img {

	margin-left: 45%;
	width: 10%;
	margin-bottom: 10%;
	margin-top: 10%;
}

/*-----Mise en forme du texte de présentation------*/

#presentation p{ 

	text-align: justify;
	margin:10%;
	margin-top: 0;
	margin-bottom: 15%;
	font-size: 1.1em;

}

/*-----Séparation du texte de présentation et des infos par une bordure------*/

#presentation {

	margin-bottom: 15%;
	border-bottom: 1px solid rgb(0, 100, 200);
}



/*----Mise en forme et placement des logo(gsm, enveloppe, maison,...)----*/

.logo img{

	float: left;
	width: 15%;
	margin-left: 5%;
}

/*----Séparation des différentes infos par une bordure----*/

.info {

	margin-bottom: 15%;
	border-bottom: 1px solid rgb(0, 100, 200);
	
}

/*-----Mise en page de mes informations------*/

.info p {

	text-align: left;
	margin-left: 25%;
	padding-top: 4%;
	font-size: 1.2em;
	font-family: Helvetica;
}

/*----Ajustement de l'adresse pour être en face de l'icone-----*/

.numero {

	margin-bottom: 15%;
}

/*----je retire le padding pour bien centrer l'adresse------*/

#texteAdresse p {

	padding: 0;
	margin-bottom: 15%;

}

/*---J'ajuste la marge gauche pour placer correctement mon bloc d'adresses---*/

#mail {

	margin-left: 25%;

}

/*---Je retire les marges pour mes adresses mails-----*/

h4 {

	margin:0;	

}

/*----Mise en forme du lien pour envoyer un mail----*/

#mail a {

	text-decoration: none;
	color: white;
}

/*----Mise en forme des notes sous les adresses mails-------*/

#mail p {

	text-align: left;
	margin: 0;
	margin-bottom: 15%;
	font-size: 0.8em;

}

/*----Ajout d'une bordure en dessous de mes adresses mails----*/

#bordureMail {

	border-bottom: 1px solid rgb(0, 100, 200);
}

#competences h3 {

	line-height: 1.5em;
	margin-left: 22%;
	padding-top: 5%;
	padding-right: 2%;

}

/*----Ajout de mes images pour mes compétences-----*/

#iconesCompWeb img{

	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 25%;
	width: 50%;
}

#iconesCompProg img{

  width: 22%;
  margin-top: 5%;
  margin-left: 10%;

}

#iconesCompBD img {

	width: 50%;
	margin-top: 10%;
	margin-left: 25%;
}


/*!!!!!!!Première section (NOM, PRÉNOM, FORMATION, CV)!!!!!!!*/


#section1 {

	margin-bottom: 8.5%;
}

/*-----Affichage de l'image de fond, elle restera fixe----*/

#image img{

	
}

/*------Placement du bloc contenant mon Nom Prénom + Etudes------*/

#nomPrenom {

	height: 100%;
	padding-top: 5%;
	padding-bottom: 2%;
	margin-left: 30%;
	margin-right: 30%;
	opacity: 0;
}

/*-----Mise en forme du nom et du prénom----*/

h1 {

	color: white;
	font-size: 4em;
	text-align: left;
	margin:0;
}

/*----Mise en forme du nom de mes études-----*/

h5 {

	font-size: 1.1em;
	color: rgb(255, 213, 0);
	margin-top: 0;
	text-align: left;
}

/*---Placement du bouton de téléchargement de CV----*/

#cvBouton a{

	font-weight: bold;
	padding: 1%;
	border-radius:20%;
	color: black;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	margin-left: 10%;
	background:rgb(132, 243, 255);
	transition: 1s;

}

/*----Petite animation lors du survol-----*/

#cvBouton a:hover {

	background:rgb(0, 153, 255);
	padding: 2%;
	transition: 1s;
}


/*!!!!!!!Seconde section (MON PARCOURS SCOLAIRE)!!!!!!!*/

/*-----Chaque "Etudes" est séparé par une bordure---*/

.etudesExp {

	margin-top: 5%;
	margin-left: 0%;
	border-bottom: solid 2px  rgb(0, 100, 200);
}


.etudesExp h3 {

	margin-bottom: 1%;
}

.etudesExp a {

	text-decoration: none;
	position: relative;
	color: rgb(0, 100, 200);
	transition: 0.5s;
}

/*----Transition au survol (Pour le soulignement progressif : http://www.cssportal.com/blog/css-animated-underline-links/)-----*/

.etudesExp a:hover {

	font-size: 1.4em;
	transition: 0.5s;
}

.etudesExp  a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  background: rgb(0, 100, 200);;
  visibility: hidden;
  transform: scaleX(0);
  transition: 0.25s;
}

.etudesExp  a:hover:before{
  visibility: visible;
  transform: scaleX(1);
}

/*-----Date de mes études ou expériences pro----*/

.etudesExp span {

	font-size: 0.7em;
	line-height: 5em;
	color: rgb(0, 100, 200);
}



/*----Je ne met pas de bordure pour la dernière "Etude"----*/

#cess {

	border-bottom: 0;
	padding-bottom: 0.5em;
}


/*!!!!!!!!troisième section(Mes expériences pro)!!!!!!!!!*/

/*------Même style que mes études (Voir plus haut, même classe)-----*/

.imagesPro {

	width: 10%;
	float: right;
	margin-right: 55%;
}

#cora {

	border: 0;
}

/*!!!!!!!Quatrième section (MES CONNAISSANCES LINGUISTIQUES)!!!!!!!*/

/*-----Positionnement de ma section-----*/

#langues h3, #langues p {

	display: inline-block;
	margin-left: 1.5%;
	margin-bottom: 3%;
	font-size: 1.2em;
}

/*----Ajustement des drapeaux-----*/

#langues img {

	float: left;
	margin-top: 0.4%;
}

/*!!!!!!!Cinquième section (MES PROJETS)!!!!!!!*/

/*-----Utilisation de FlexBox pour la présentation de mes projets-----*/

#projets {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: -15%;

}


/*-----Placements de mes projets dans le bloc-----*/

.elements {

	width: 28%;
	text-align: center;
	border: solid 2px black;
	margin-bottom: 2%;
	background-color: rgb(51, 204, 255);
	line-height: 1.4em;
	transition: 1s;
}

.elements:hover {

	background-color: rgb(0, 100, 200);
	padding: 0% 5% 10% 5%;
}

/*!!!!!!!!!!Code commun relatif aux sections!!!!!!!!!!!*/

.titreSections {

	padding-top: 4%;
	margin-bottom: 5%;	
	font-size: 2em;

}

.imageSections {

	width: 6%;
	margin-top: 2em;
	margin-left: 4em;
	float: left;
}

.contenuSections {

	margin-left: 15%;
}

.section {

	background-color: rgb(200, 200, 200);
	margin-top: 2%;
	margin-left: 25%;
	margin-right: 5%;
	padding-bottom: 1%;
	box-shadow: 5px 5px 20px black;
}


/*!!!!!!MEDIA QUERIES!!!!!!!!!!*/

